body{
	background-image: url(../images/images.jpg);
}
div {
	text-align: center;
	color: magenta;
	
	/*border: 5px solid pink;*/
	padding:30px;
	width:700px;
}

.container {
	/*border-color: black;*/

}

.row {
	/*border-color: red;*/
}
#page1{
	width:700px;
	float:left;
}
#page2{
	width:260px;
	float:left;
}

.list-group-item {

	/*border: 0;*/
	margin-top: 30px;
	margin bottom: 30px;
}
@media screeen and (max-width:959px) {
	#container{
		width:100%;
	}
	#page1          {
        width:70;
	}
	#page2        {
        width:30;
	}
	img{
		width:100%;
	}
}

@media screeen and (max-width:640px) {
    #page1{
    	width:100%;
    }
    #page2{
    	width:100%;

    }
    .aboutme {
    	width:100%;
    }
}
p {
    word-wrap: break-word;
}
@media screeen and (max-width:640px) {
	#container{
		width:320px;
	}
	.aboutme {
		width:320px;
	} 
}
@media (max-width: 320px) {
	body {
		background-color: red;
		text-align: center;
	}
}



